@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
.nav-bar {
  background-color: black;
height: 60px;
display: flex;
justify-content:space-evenly;
align-items: center;
margin: auto;



}
.right-side ul{
display:flex;
text-decoration:none;
}
.right-side li {
  margin: 1.5rem;
  font-size: 0.90rem; 
}
.left-side ul {
  display: flex
}
.left-side li {
  margin: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: white;
}
.btn {
  background-color:#276EF1;
  color: white;
  border-radius: 50px 17rem 50px 60px;
  padding: 10px;
}
main {
  margin:0 5rem;
position: relative;  

  
  
}
/* .main-section {
 display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 2fr 1fr 1fr 1fr ;
  grid-gap: 1rem;
} */
.assest-logo {
  display: grid;
  justify-items: center;
  line-height:2rem;
  font-family: 'Heebo', sans-serif;
  margin: 0 1.8rem;
  font-size: 1.2rem;

}
.main-section {
  padding-top: 4rem;

position: absolute;
top: 0px;
left:11%;
 
}
.assest {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 20px;
  

 
}
.assest-2 {
  line-height: 2.5em;
  padding-top: 80px;
  background-color: white;
  display: inline-block;
  
  
  
}
.heading1-assest-2 {
  font-family: 'Abril Fatface', cursive;
  line-height: 60px;
  font-weight: 399;
  font-size: 52px; 
  margin: 2rem;
}
.p-assest-2 {
  font-size: 23px;
  margin: 1rem 0;
  font-family: 'Alegreya', serif;
  width: 400px;
  line-height: 1.1em;
  margin: 2rem;
}
.btn-assest-2 {
  margin: 2rem;
}
.span-assest-2 a {
  color: blue;
  font-size: 20px;
  margin: 2rem;
}
.main-img {

}
.main-img img{
width: 100%;

}
.view-section {
  margin: 0 5rem;
  position: relative;


}
.view-section-content {
  position: absolute;
  top:0px;
  left:11%;
  padding-top: 4rem;
}
.view-section-img img {
  width: 100%;
}
.heading1-view-section {
  font-family: 'Abril Fatface', cursive;
  line-height: 60px;
  font-weight: 399;
  font-size: 52px;
   
}
.span-view-section {
padding-top: 1.3rem;
margin: 0.2rem;
  
}
.video-section {
  margin: 0 5rem;

}
.span-view-section a {
  color: blue;
  font-size: 20px;

}
.video-section-video video {
  width: 100%;  
}
.span-video a {
  color: #276EF1;
  font-size: 20px;

}
.heading2-video {
  font-family: 'Abril Fatface', cursive;
  line-height: 30px;
  font-weight: 399;
  font-size: 30px;

}
